/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/AniLib.AssemblyInfo.cs
/obj/Debug/net7.0/AniLib.AssemblyInfoInputs.cache
/obj/Debug/net7.0/AniLib.assets.cache
/AniLib.csproj
/obj/Debug/net7.0/AniLib.csproj.AssemblyReference.cache
/obj/AniLib.csproj.nuget.dgspec.json
/obj/AniLib.csproj.nuget.g.props
/obj/AniLib.csproj.nuget.g.targets
/obj/Debug/net7.0/AniLib.GeneratedMSBuildEditorConfig.editorconfig
/AniLib.sln
/app.manifest
/.idea/.idea.AniLib/.idea/avalonia.xml
/.idea/.idea.AniLib/.idea/encodings.xml
/.idea/.idea.AniLib/.idea/indexLayout.xml
/.idea/.idea.AniLib/.idea/misc.xml
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/Debug/net7.0/Avalonia/resources
/obj/Debug/net7.0/Avalonia/Resources.Inputs.cache
/obj/rider.project.restore.info
/.idea/.idea.AniLib/.idea/vcs.xml
